/*GENERAL------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
@font-face{
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
        url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
body{
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: 'Futura PT';
    text-rendering: optimizeLegibility;
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
}
.container {
    width: 100%;
    max-width: 1120px;
    padding: 0 auto;
    margin: 0 auto;
}
h3{
    font-size: 1em;
    color: #1C17A2;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    text-align: center;
    font-weight: 100;
}
p{
    font-size: 0.6em; 
}
.images{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.images1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.float-clearing{
    zoom: 1;
}
.float-clearing:after{
    zoom: 1;
    content: " ";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
input{
    background-color: #F3C115;
    width: 436px;
    height: 82px;
    padding-left: 32px; 
    font-size: 0.7em;
    color: #FFFFFF;
    border: 1px solid #F3C115;
}
::-webkit-input-placeholder {
    color: #FFFFFF;
}
:-ms-input-placeholder {
    color: #FFFFFF;
}
::-ms-input-placeholder {
    color: #FFFFFF;
}
::placeholder {
    color: #FFFFFF;
}
button{
    background-color: #1C17A2;
    width: 108px;
    height: 67px;
    padding: 12px 0 68.4px 0;
    border: 1px solid #1C17A2;
    font-size: 1.7em;
    color:  #F3C115;
    margin-left: -4.5px; 
    text-align: center;
}
/*GENERAL END------------------------------------------------------------*/

/* GRIDVIEW ------------------------------------------------------------*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    /* border: 1px solid red; */
  }
  /*GRIDVIEW END------------------------------------------------------------*/

  /*HEADER------------------------------------------------------------*/
  #main-nav{
      list-style: none;
      text-align: center;
      margin-top: 39px;
      margin-left: 40px;
  }
  #main-nav li{
      display: inline-block;
      font-size: 0.65em;
      margin-right: 42px;
  }
  #main-nav li #nav-point{
      color: #F3C115;
  }
  #main-nav li a:link,
  #main-nav li a:visited{
      text-decoration: none;
      text-transform: uppercase;
      color: #1C17A2;
      letter-spacing: 0.18em;
      -webkit-transition: opacity 0.5s, color 0.5s;
      transition: opacity 0.5s, color 0.5s;
      opacity: 0.75;
  }

  #main-nav li a:hover,
  #main-nav li a:active{
      color: #F3C115;
      opacity: 1;
  }
  #header-img{
      width: 45%;
  }
  
  #header-text-max-width{
      margin-top: 55.5px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 820px;
  }
  #header-text{
      text-align: center;
      letter-spacing: 0.18em;
      line-height: 3em;
      margin: 0 10px;
  }
  #down-button{
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 1%;
  }
  #down-button:link,
  #down-button:visited{
      color: #000000;
  }

  #down-button:hover,
  #down-button:active{
      color: #F3C115;
  }

  .header-down-icon{
      margin-top: 39.3px;
      font-size: 1.3em;
      margin-bottom: 222.8px;
  }
 
  /*HEADER END------------------------------------------------------------*/

  /*SERVICE ------------------------------------------------------------*/
  #service-section{
      margin-bottom: 160px;
  }
  .service{
      margin-bottom: 98.6px;
  }
  .service-text-max-width{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 225px;
  }
  .service-text{
      font-family: 'Nunito', sans-serif;
      text-align: center;
      line-height: 2em;
      font-weight: 500;
      font-style: normal;
      margin-top: 12px;
      margin-bottom: 102px;
  }
  .center-icon{
    margin-top: 115px;
    margin-bottom: 22.7px;
    font-size: 2em;
    color: #1C17A2; 
  }
  #service-back-margin{
      margin: 0 15px;
  }
  .service-back{
      background-color: #FEF7E0;
      margin-bottom: 90px;
      -webkit-transition: background-color 0.4s;
      transition: background-color 0.4s;
  }
  .service-back:hover{
    background-color: #F3C115;
    border-radius: 3px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact-us-button{
    text-transform: uppercase;
    letter-spacing: 0.18em;
    text-align: center; 
    padding: 27px 54px;
    text-decoration: none;
    color:#FFFFFF;
    background-color: #F3C115; 
    -webkit-transition: opacity 0.5s; 
    transition: opacity 0.5s;
    opacity: 0.5;
}
.contact-us-button:hover{
    opacity: 1;
}
.contact-us-button i{ 
    padding-left: 31px; 
}
  /*SERVICE END------------------------------------------------------------*/

  /*PROJECTS ------------------------------------------------------------*/
  #projects-section{
      margin-bottom: 160px;
  }
  .img-div-container{
      list-style: none;
      width: 100%;
  }
  .project-images{
    width: 100%;
    overflow: hidden;
  }
  .project-images img{
    opacity:0.85;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  }
  .project-images img:hover{
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 1;
}
  .project-divs{
      width: 100%;
      background-color:#FEF7E0;
      color:#F3C115;
      -webkit-transition: background-color 0.5s;
      transition: background-color 0.5s;
  }
  .project-divs:hover{
      background-color:#F3C115;
      color: #FEF7E0;
  }
  .project-divs h4{
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 0.18em;
      font-weight: 200; 
      padding-bottom: 12px;
  }
  .project-divs p{
      color: #000000;
      font-family: 'Nunito', sans-serif;
      line-height: 1.5em;
      font-weight: 500;
      font-style: normal;
  }
  .project-divs .projects-sub-divs{
      padding: 98px 34.5px;
  }
  .bot{
      margin-bottom:99px;
  }

  /*PROJECTS END------------------------------------------------------------*/

  /*TESTIMONIALS------------------------------------------------------------*/
  #testimonials-section{
      margin-bottom: 108px;
  }
.testi-div{
    background-color:#FEF7E0;
    margin: 0 10px;
    -webkit-box-shadow: 15px 15px #F3C115;
            box-shadow: 15px 15px #F3C115;
    margin-bottom: 98px; 
}
.circles{
    text-align: center;
    padding-top: 70px; 
}
.image-top{
    margin-bottom: -70px;
}
.testi-text-max-width{
    max-width: 756px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.testi-text-max-width p{
    font-family: 'Nunito', sans-serif;
      text-align: center;
      line-height: 2em;
      font-weight: 500;
      font-style: normal;
      padding-bottom: 83px;
}
.testi-div h3{
    color:#000000;
}
.testi-div h5{
    text-align: center;
    font-size: 0.7em;
    letter-spacing: 0.18em;
    color: #AEA3A3;
    font-weight: 100; 
    margin-top: 4px;
    margin-bottom: 13px;
}
  /*TESTIMONIALS END------------------------------------------------------------*/


  /*WHAT WE DO ------------------------------------------------------------*/

  #what-we-do-section{
      background-color: #F3C115;
  }
  #what-we-do-section h1{
      font-size: 3.7em;
      letter-spacing: 0.18em;
  }
  #what-we-do-section h2{
    font-size: 1.5em;
    letter-spacing: 0.18em;
    margin-top: 11px;
    margin-bottom: 31px;
}
#what-we-do-section p{
    font-family: 'Nunito', sans-serif;
      line-height: 2em;
      font-weight: 500;
      font-style: normal;
      font-size: 0.7em;
      padding-left: 35px; 
      border-left: 4px solid #000000;
      margin-bottom: 59px;
}
#what-we-do-section a{
    background-color:#000000;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    opacity: 1;
}
#what-we-do-section a:hover{
    background-color:#1C17A2;
    opacity: 1;
}
.what-text-max-width{
    max-width: 515px;
}

#right-image{
    float: right;
    margin-right: -300px;
    width: 68%;
}
.top{
    padding-top:98px;
}
.left{
    margin-left: 10px; 
}

  /*WHAT WE DO END ------------------------------------------------------------*/

  /*HOW WE DO ------------------------------------------------------------*/
  #how-we-do-it-section{
    background-color: #1C17A2;
    color: #FFFFFF;
}

#how-we-do-it-section h1{
    font-size: 3.7em;
    letter-spacing: 0.18em;
}
#how-we-do-it-section h2{
    font-size: 1.5em;
    letter-spacing: 0.18em;
    margin-top: 11px;
    margin-bottom: 31px;
}
#how-we-do-it-section p{
    font-family: 'Nunito', sans-serif;
      line-height: 2em;
      font-weight: 500;
      font-style: normal;
      font-size: 0.7em;
      padding-left: 35px; 
      border-left: 4px solid #FFFFFF;
      margin-bottom: 59px;
}

#how-we-do-it-section a{
    background-color:#F3C115;
    opacity: 1;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

#how-we-do-it-section a:hover{
    background-color:#000000;
    opacity: 1;
}
.how-text-max-width{
    max-width: 515px;
    float: right;
    margin-right: 84px; 
}

#left-image{
    float: left;
    margin-left: -300px;
    width: 68%;
}

  /*HOW WE DO END------------------------------------------------------------*/

  /*NEWSLETTR ------------------------------------------------------------*/
  #newsletter-section h1{
      margin-top: 160px; 
      font-size: 3.4em;
      letter-spacing: 0.18em;
      text-transform: uppercase;
      color: #F3C115;
  }
  .news-text-max-width{
      max-width: 544px;
      margin-top: 40px;
      margin-bottom: 31px;
  }
  #newsletter-section p{
    font-family: 'Nunito', sans-serif;
    line-height: 2em;
    font-weight: 500;
    font-style: normal;
    font-size: 0.7em;
  }
  #ava2{
      float: right;
      width: 38.5%;
  }

  /*NEWSLETTR END------------------------------------------------------------*/

  /*FOOTER------------------------------------------------------------*/
  footer{
      background-color: #1C17A2;
  }
  #footer-icons{
      padding-top: 120px; 
      padding-bottom: 58px;
      list-style: none;
      text-align: center;
  }
  #footer-icons li{
      display: inline-block;
      font-size: 1.65em;
      background-color: #F3C115;
      color: #1C17A2;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      margin: 0 23px;
      -webkit-transition: background-color 0.5s;
      transition: background-color 0.5s;
  }
  #footer-icons li a:link,
  #footer-icons li a:visited{
      color: #1C17A2;
  }
  #footer-icons li a i{
      margin-top: 15px;
  }
  #footer-icons li:hover{
      background-color: #FEF7E0; 
  }
  #copy-right{
      text-align: center;
      font-size: 0.65em;
      color: #F3C115;
      padding-bottom:45px;
  }
  /*FOOTER END------------------------------------------------------------*/

  /*MEDIA QUERIES------------------------------------------------------------*/
  #hey{
    display: none;
}
  #menu-bar{
    cursor: pointer;
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
  }
  #menu-bar i{
    font-size: 1.2em;
    color: #1C17A2;
  }

  @media only screen and (max-width: 319px){
    #full{
        display: none;
    }
    #hey{
        display: inline-block;
    }
}

  @media only screen and (max-width: 415px){
    .project-twenty, .project-eighty, .project-hundred{
        width: 100%;
    }
    .project-hundred,.project-twenty{
        display: inline-block;
    } 
}
@media only screen and (max-width: 465px){
    #footer-icons li{
        margin-bottom: 15px; 
    }
}

  @media only screen and (max-width: 573px) {
      #menu-bar{
          display: inline-block;
          
      }
      #main-nav{
          display:none;
          text-align: center;
          
      }
      #main-nav li{
        display: block;
        padding: 10px 0;
      }

      input{
        width: 218px;
        height: 70px;
    } 
    button{
        width: 54px;
        padding: 6px 0 62.4px 0;
    }
    .hz{
        font-size: 0.6em;
    }
  }

  @media only screen and (max-width: 630px){
    .images{
        width: 80%;
    }
}

  @media only screen and (max-width: 670px){
      .service-back{
          width: 100%;
      }
  }

 
@media only screen and (max-width: 800px){
    .testi-div{
        /* margin: 0 10px 0 10px; */
    }
}

@media only screen and (max-width: 1024px){
    #right-image, #left-image, #ava2{
        display: none;
    }
    .left, .right{
        text-align: center;
        padding-bottom: 144px; 
    }
    .right{
        margin-left: 10px;
    }
    .how-text-max-width{
        margin-right: -10px;
    }
    .what-text-max-width, .how-text-max-width, .news-text-max-width{
        max-width: 1120px;
    }
}

  @media only screen and (max-width: 1112px){
    /* .project-twenty{
        width: 20.55%;
    }
    .project-eighty{
        width: 79.45%;
    }
    .project-hundred{
        width: 100%;
    } */
    .project-eighty{
        width: 100%;
    }
    .project-hundred,.project-twenty{
        display: none;
    } 
}


  /*MEDIA QUERIES END------------------------------------------------------------*/
